﻿<head>
    <style type="text/css">
        .auto-style1 {
            height: 31px;
        }
    </style>
</head>
<div>
    <center>
        <table cellpadding="0" cellspacing="0" style="font-size:11px;font-family:Arial,Tahoma,Verdana,sans-serif;width:800px;border:1px solid #ccc;margin-top:20px">
            <tbody>
                <tr>
                    <td colspan="2" style="width:100%;height:95px;border-bottom:1px solid #d8dcdf" valign="top" >
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td valign="top" style="padding-left:10px;padding-top:10px">
                                        <img src="http://affiliate.chargepass.co/images/ChargePassLogo.png" alt="ChargePass" width="350" >
                                    </td>
                                    <td valign="top" style="width:auto;padding-right:10px;padding-top:10px" align="right">
                                        {AffiliateLogo}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:100%;height:58px;padding-top:15px;padding-bottom:10px" valign="top">
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="width:100%; text-align:center">
                                        <font size="5" color="#333"><span style="font-size:26px;font-weight:bold;color:#333">Thank you for your payment!</span></font>
                                    </td>
                                </tr>
                                {TestMsg}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr> 	        
                    <td style="padding-left:10px;width:400px" valign="top">
                        <table style="border:0px solid #d8dcdf">
                            <tbody>
                                <tr>
                                    <td style="width:100%;border-bottom:0px solid #bbb;padding-top:8px;padding-left:5px;padding-bottom:10px" valign="top">
                                        <table style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="width:100%;padding-top:5px;text-wrap:" valign="top">
                                                        <b>Online Payment to:</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%;padding-top:5px" valign="top">
                                                        {CompanyInfo}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100%;border-bottom:0px solid #bbb;padding-top:8px;padding-left:5px;padding-bottom:10px" valign="top">
                                        <table style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="width:100%;padding-top:5px;text-wrap:" valign="top">
                                                        <b>Billing Info:</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%;padding-top:5px" valign="top">
                                                        {BillingInfo}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td valign="top" style="width:400px;padding-left:15px">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td style="width:100%;height:88px;border-bottom:0px solid #333;border-top:1px solid #333;padding-top:8px" valign="top">
                                        <table style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Payment Date:</b> {PaymentDate}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Payment Type:</b> {PaymentType}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style1">
                                                        <b>Receipt #:</b> {TransNo}
                                                    </td>
                                                </tr>

                                                <tr style="visibility:{HideInvoice}">
                                                    <td class="auto-style1">
                                                        {ReferenceNo}
                                                    </td>
                                                </tr>
                                                <tr style="visibility:{HideResDate}">
                                                    <td class="auto-style1">
                                                        {ResDate}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr><td></td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px;padding-bottom:0px;padding-left:5px" valign="top" colspan="2">
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td colspan="4" style="padding:10px;text-align:center;font-weight:bolder">
                                        Payment Summary
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:40%"></td>
                                    <td style="width:130px; white-space:nowrap" align="left">Sub-Total</td>
                                    <td style="width:auto" align="right">{SubTotal}</td>
                                    <td style="width:40%"></td>
                                </tr>
                                <tr>
                                    <td style="width:40%;border-bottom:1px solid #aaa"></td>
                                    <td align="left" style="border-bottom:1px solid #aaa; white-space:nowrap">
                                        ChargePass Fee
                                    </td>
                                    <td align="right" style="border-bottom:1px solid #aaa">{TPFee}</td>
                                    <td style="border-bottom:1px solid #aaa" />
                                </tr>
                                <tr style="font-weight:bold;">
                                    <td style="width:40%"></td>
                                    <td align="left" style="white-space:nowrap">Total Charged</td>
                                    <td align="right">{TotalCharge}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left" style="height:50px;padding-top:10px;line-height:40px">
                        <img src="http://gallery.mailchimp.com/8c694cffb8db75514d5f8a11b/images/icon_important_lightbulb_small.png" alt="icn_lightblub_small" width="24" style="padding-bottom:0px;margin-right:10px;margin-left:13px">
                        Note: This  payment will appear on your account statement as &quot;<b>{PaymentAppear}</b>&quot;.
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top:15px;padding-left:5px;border-top:1px #ccc solid">
                        <span style="font-size:19px;font-weight:bold">Billing Questions?</span><br>
                        <span style="line-height:18px;font-size:13px;font-style:italic;color:#999">Do you have questions about this charge?  Contact {Affiliate}.</span><br>
                        <center>
                            <table width="600">
                                <tbody>
                                    <tr>
                                        <td align="center" style="width:200px;height:25px;visibility:{HideEmail}" >
                                            <a href="mailto:{AffiliateEmail}" style="text-decoration:none;color:#11a3e8;font-size:14px">
                                                <img src="http://gallery.mailchimp.com/8c694cffb8db75514d5f8a11b/images/icon_email_grey_med.png" style="margin-right:8px"></a>
                                        </td>
                                        <td align="center" style="width:200px;height:25px">
                                            <a style="text-decoration:none;color:#11a3e8;font-size:13px"><img src="http://gallery.mailchimp.com/8c694cffb8db75514d5f8a11b/images/icon_phone_grey_med.png" style="margin-right:8px"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="width:200px;height:50px;visibility:{HideEmail}">
                                            <a href="mailto:{AffiliateEmail}" style="text-decoration:none;color:#11a3e8;font-size:14px">{AffiliateEmail}</a>
                                        </td>
                                        <td align="center" style="width:200px;height:50px;padding-bottom:7px">
                                            <a style="text-decoration:none;color:#11a3e8;font-size:13px">{AffiliatePhone}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <img src="http://mandrillapp.com/track/open.php?u=3846174&amp;id=265e55a2a41e4025b4e0b632f932c3b2" height="1" width="1">
</div>
