<div style="font-size: 1.25em; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; text-align: center;">
	<a href='http://GetRide.Com/Receipt/Receipt.aspx?z={URLArg}' style="text-decoration: none">
		<img src='http://GetRide.Com/images/Logo500WBlack.png' width="340px">
		<br><br>
		<span style="color: black">
			Thank you for using
			<img src='http://GetRide.Com/images/GetRide500W.png' height="20">.<br>
			To view or print your receipt please go to
			<br />
		</span>
		GetRide.Com/Receipt/Receipt.aspx</a>
</div>
